body {
    background-color: #eeeeee; 
    font-family: 'Rajdhani', sans-serif;
    /* background-image: url('https://cdn.hipwallpaper.com/i/14/71/yanhlv.jpg'); */
    /* background-repeat: no-repeat;
    background-size: cover; */
}

nav {
    
    font-size: 30px;
    color:#000000;
    font-family: 'Rajdhani', sans-serif; 
    
      
}

nav ul {
    background-color: #eeeeee; 
    border-bottom: 5px solid white;
}
nav li a {
    color:#818181;
     
}

nav li a:hover {
    color: #000000;
  }

#nav-js-beg {
    /* position: relative; */
    margin-top: 7px;
    color: white;
    /* text-shadow: 2px 2px #FFFFFF; */
}

#nav-js-end {
    /* position: relative; */
    margin-top: 7px;
    color:  white
    /* text-shadow: 2px 2px #FFFFFF; */

}

.nav-js {
    color:  white;
    /* text-shadow: 2px 2px #FFFFFF; */
}

.jumbotron {
    padding: 220px 0 130px 0;
    /* background-color: #9088d4; */
    border-bottom: 5px solid white;
    border-top: 5px solid #706897;
    background-image: url('https://cdn.pixabay.com/photo/2018/09/04/10/09/crumpled-3653349_960_720.jpg');
    background-size: cover;
}

.jumbotron .container{
    text-align: center;
    /* background-color: #5644b1; */
    /* position: relative;
    right: 130px;
    bottom: 50px;; */
    
}

#jumbo-h1 {
    font-family: 'Rajdhani', sans-serif;
    color:#575757;
    font-size: 80px;
    /*text-shadow: 3px 3px 0px rgb(238, 238, 238); */
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    
    text-shadow: rgba(150, 150, 150, 0.5) 3px 5px 1px;
    /* text-shadow: 0px 1px 0px rgba(179, 179, 179, 0.5); */

}

#jumbo-h1 span {
    /* color: #a39bf1; */
    /* text-shadow: 2px 2px #4B1F90; */
    font-size: 40px;
    color:  gray;
}

#jumbo-h2 {
    font-family: 'Rajdhani', sans-serif;
    color:#575757;
    margin-left: 7%;
    font-size: 50px;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    
    text-shadow: rgba(150, 150, 150, 0.5) 3px 5px 1px;
}

#jumbo-h2 span {
    color:  gray;
    font-size: 25px;
    /* text-shadow: 2px 2px #4B1F90; */
}

#jumbo-h3 {
    color:  gray;
    font-size: 40px;
    /* text-shadow: 2px 2px #4B1F90;     */
    margin-right: 500px;

}

#greeting {
    font-size: 100px;
    margin: 70px auto;
    color:#818181;
}

#greeting span {
    color:  white;
    /* text-shadow: 2px 2px #161819; */
    font-size: 30px;
}

#greeting h1{
    text-align: center;
}

#about {
    font-size: 20px;;
    margin: 70px auto;
    color:#575757;
}

#skills h2 span {
    position: relative;
    color:  white;
    font-size: 25px;
    /* bottom: 2px; */
}

#skills-beg-sp2 {
    position: relative;
    bottom: 5px;
}

#skills h2 {
    position: relative;
    top: 70px;
    right: 190px;
    color:#818181;
    font-size: 50px;
}

#skills ul{
    list-style-type: none;
    
    text-align: center;   
  }

  skills ul li {
    float: none;
    margin: 0 auto;
    display: inline-block;
  }

  #skills ul li i {
    color:#818181;
      
  }
  
  #skills-end span {
    position: relative;
    bottom: 160px;
    left: 1360px;
  }


  #projects-beg {
    position: relative;
    top: 50px;
    left: 15px;
    color:#818181;
    font-size: 50px;
  }

  #projects span {
    position: relative;
    color:  white;
    font-size: 25px;
    /* right: 45px;
    top: 60px; */
  }
#projects-beg-sp2 {
    position: relative;
    bottom: 5px;
    
}

  #projects-end {
    position: relative;
    color:  #fce0d4;
    font-size: 25px;
  }

 #projects {
    display: grid;
    grid-template-columns: 20em 12em 12em 12em 12em 12em 1fr;
    /* grid-template-rows: 300px; */
    justify-content: center;
    color: #434146;
    margin-top: 100px;
    margin-bottom: 85px;    
}

#creature {
    grid-column: 2/3; 
    
}

#kast {
    grid-column: 3/4;
    
}

#api {
    grid-column: 4/5;
    }

#blue-badge {
    grid-column: 5/6;
    
}

#red-badge {
    grid-column: 6/7;
    }


  #resume {
    color:#818181;
  }

form {
    
    margin-left: auto;
    margin-right: auto;
    width: 50em
    
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgray;
    color: white;
}

 footer ul {
     list-style-type: none;
     text-align: center;
 }

 footer ul li i{
    color:#818181;
    
 }


 h6 {
    color:#818181;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
 }

